/* Default styles */
.start-order-button h1 {
    font-size: 4rem;
    font-weight: 500;
}

.start-order-button .shopping-cart {
    font-size: 200px;
}

/* Media query for large screens */
@media screen and (min-width: 1300px) {
    .start-order-button h1 {
        font-size: 7rem;
        font-weight: 700;
    }

    .start-order-button .shopping-cart {
        font-size: 250px;
    }
}
