
.start-order-button h1 {
    font-size: 4rem;
    font-weight: 500;
}

.start-order-button .shopping-cart {
    font-size: 200px;
}

.landing-page-button {
    width: 500px;
}

.landing-page-button h2 {
    font-size: 36px;
}

.landing-page-button svg {
    font-size: 70px;
}


@media screen and (min-width: 1300px) {
    .start-order-button h1 {
        font-size: 7rem;
        font-weight: 700;
    }

    .start-order-button .shopping-cart {
        font-size: 250px;
    }

    .landing-page-button {
        width: 600px;
    }

    .landing-page-button h2 {
        font-size: 50px;
    }

    .landing-page-button svg {
        font-size: 100px;
    }
}

@media screen and (min-width: 2000px) {
    .landing-page-button {
        width: 1000px;
    }

    .landing-page-button h2 {
        font-size: 110px;
    }

    .landing-page-button svg {
        font-size: 160px;
    }
}
