.login-page {
    width: 100%;
    height: 100%;
}

/* Login.css */
input::placeholder, input {
    color: black;
    font-size: 1.25rem; /* Adjust as needed */
    font-weight: bold; /* Optional for making it bolder */
}
  