@tailwind base;
@tailwind components;
@tailwind utilities;

/* Ensures html and body occupy the full viewport */
html, body {
    height: 100%;
    width: 100%;
    background-color: #CE123C;
    font-family: 'Inter', sans-serif;
}